https://fonts.googleapis.com/css?family=Open Sans' 

@import url('https://fonts.googleapis.com/css?family=Open Sans'); 

html, body, [class*="css"] {
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}